#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* 
* {
  box-sizing: border-box;
  outline: 1px solid red !important;
}
uncomment to debug */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 10px;
}

li a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  
}
li a:hover {
  background-color: #181818;
  border-radius: 6px 6px 6px 6px;
  color: #646cff
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.footer {
  color: #888;
}
